body {
  background: linear-gradient(to top left, powderblue, pink) no-repeat;
  background-size: cover;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.App {
  max-width: 400px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.moves {
  width: 330px;
  margin: 60px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
